<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Strona</title>
</head>
<body>
    <header id="hed">
        <nav>
            <div class="nav-logo">
                <a href="/logeduser" class="nav-logo-link">
                    <img src="/images/background-logo.png" alt="Background" class="logo-background">
                <h3 class="nav-text">SirCar</h3></a>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item"><a href="/logeduser">Home</a></li>
                <li class="nav-list-item"><a href="#m-desc">About us</a></li>
                <li class="nav-list-item"><a href="#m-cars" >Cars</a></li>
                <li class="nav-list-item"><a href="#fut" >Contact</a></li>
                <li class="nav-list-item"><a href="/cardescription" >Car Description</a></li>
                <li class="nav-list-item"><a href="/logout">
                {{#each message }}
                <span>{{message}}</span>
                {{/each}}
                Logout</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line1"></div>
                <div class="line1"></div>
            </div>
        </nav>
        <div class="describe">
            <h2>Most comfortable cars</h2>
            <p>
                Welcome to the world of cars SirCar.
            </p>
            <p>
                We assure you that you will not regret this visit.
            </p>        
        </div>
    </header>
    <main>
        <section class="main-description" id="m-desc">
            <h3>
                SirCar a world leader in innovation and technology for years.
            </h3>
            <p>
                The highest level of reliability and customer 
                service are synonymous with our brand.
                That is why we have launched the SirCar online salon,
                 where you can see a selected model up close without 
                 leaving your home.
            </p>
        </section>
        <section class="main-cars" id="m-cars">
            <h2>Our Cars</h2>
            <ul class="main-list">
                <li class="main-list-item">
                    <a href="/cardescription" class="main-item-link">
                        <img src="/images/teslas.jpg">
                    </a>
                        <p>Tesla Model S</p>
                </li>
                <li class="main-list-item">
                    <a href="/cardescription" class="main-item-link">
                        <img src="/images/tesla3.jpg">
                    </a>
                        <p>Tesla Model 3</p>
                </li>
                <li class="main-list-item">
                    <a href="/cardescription" class="main-item-link">
                        <img src="/images/teslax.jpg">
                    </a>
                        <p>Tesla Model X</p>
                </li>
                <li class="main-list-item">
                    <a href="/cardescription" class="main-item-link">
                        <img src="/images/teslay.jpg">
                    </a>
                        <p>Tesla Model Y</p>
                </li>
                <li class="main-list-item">
                    <a href="/cardescription" class="main-item-link">
                        <img src="/images/renaultzoe.jpg">
                    </a>
                        <p>Renault Zoe</p>
                </li>
                <li class="main-list-item">
                    <a href="/cardescription" class="main-item-link">
                        <img src="/images/toyotaprius.jpg">
                    </a>
                        <p>Toyota Prius</p>
                </li>
                <li class="main-list-item">
                    <a href="/cardescription" class="main-item-link">
                        <img src="/images/toyotayaris.jpg">
                    </a>
                        <p>Toyota Yaris</p>
                </li>
                <li class="main-list-item">
                    <a href="/cardescription" class="main-item-link">
                        <img src="/images/toyotacorolla.jpg">
                    </a>
                        <p>Toyota Corolla</p>
                </li>
            </ul>
        </section>
    </main>
    <footer id="fut">
        <div class="footer-made">
            <p>Made by <a href="#fut" 
                title="Kamil Z">KZ Team</a>
            </p>
        </div>
        <ul class="footer-list">
            <li class="footer-list-item">
                <a href="#fut">Privacy Policy</a>
            </li>
            <li class="footer-list-item">
                <a href="#fut">Contact</a>
            </li>
            <li class="footer-list-item">
                <a href="https://pl-pl.facebook.com">Facebook</a>
            </li>
            <li class="footer-list-item">
                <a href="https://twitter.com/?lang=pl">Twitter</a>
            </li>
        </ul>
    </footer>
    <a href="#" class="return">Up</a>
    <script src ="/js/mobilemenu.js"></script>
</body>
</html>